.checkoutProduct{
    display: flex;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info{
    padding: 20px;
}

.checkoutProduct__title{
    font-size: 16px;
    font-weight: 700;
}

.checkoutProduct__button{
    background-color: #00b0ff;
    border: 1px solid;
    padding: 3px 15px;
    border-radius: 8px;
    margin-top: 3px;
    border-color: #2083ee;
}

.checkoutProduct__button:hover{
    background-color: #05124d;
    border-color: #00b0ff;
    cursor: pointer;
    color: #fff;
}