.checkout__title{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid gray;
}
.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}

.checkout{
    display: flex;
    padding: 20px;
    height: max-content;
    background: #fff;
}

@media screen and (max-width:750px){
    .checkout{
        flex-wrap: wrap-reverse;
    }
   
}
