.form__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 100vw;
    height: 100%;

}

.form__logoContainer{
    display: flex;
    padding-bottom: 10px;
}
.form__logo{
    width: 50px;
}

.form__domain{
    padding-top: 20px;
}

.form__mainContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.form__heading{
    font-size: 25px;
    font-weight: 450;
    padding-bottom: 10px;
}

.form__input > label{
    font-weight: 500;
}

.form__input{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.form__input > input{
    width: 280px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 16px;
    padding: 2px 8px;
}

.form__mainContainer > button{
    padding: 5px;
    margin-top: 12px;
    background: #00b0ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.form__container > p{
    margin-top: 15px;
}

.form__divider{
    text-align: center;
    position: relative;
    top: 24px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
    width: 80%;
}

.form__divider::after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

.form__divider > p {
    line-height: 1;
    font-size: 16px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.form__container > button{
    margin-top: 40px;
    padding: 5px 33px;
    background: #00b0ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    margin-bottom: 50px;
    cursor: pointer;
}