.registerForm{
    display: flex;
    justify-content: center;
    background: #fff;
}

.form__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 100vw;
    height: 100%;
    margin-bottom: 20px;
}

.form__logoContainer{
    display: flex;
    padding-bottom: 10px;
}
.form__logo{
    width: 50px;
}

.form__domain{
    padding-top: 20px;
}

.form__mainContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.form__heading{
    font-size: 25px;
    font-weight: 450;
    padding-bottom: 10px;
}

.form__input > label{
    font-weight: 500;
}

.form__input{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.form__input > input{
    width: 280px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 16px;
    padding: 2px 8px;
}

.form__mainContainer > button{
    padding: 5px;
    margin-top: 12px;
    background: #00b0ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.form__container > p{
    margin-top: 15px;
}

.form__input > textarea{
    padding: 5px;
    height: 60px;
    font-size: 18px;
    line-height: 20px;
}

